<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dennis.minigoget">



    <permission
        android:name="com.example.dennis.minigoget.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.dennis.minigoget.locationapi.maps.permission.MAPS_RECEIVE" />

    //enable internet access through phone
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.dennis.minigoget.app">
        <activity android:name=".View.Activity.MapActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".View.Activity.SingleJobDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".View.Activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBp8p2qkq81yJuhFR9Aql700ta5rjskO3c" />
    </application>

</manifest>
